{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/jsx-runtime",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "plugin:sonarjs/recommended-legacy",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "plugins": ["react", "@typescript-eslint", "@vitest", "sonarjs"],
  "rules": {
    "@typescript-eslint/array-type": [
      "error",
      {
        "default": "generic"
      }
    ],
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-expect-error": "allow-with-description"
      }
    ],
    "@typescript-eslint/comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "never"
      }
    ],
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/explicit-function-return-type": 1,
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "typeParameter",
        "format": ["PascalCase"],
        "custom": { "regex": "^T[A-Z]", "match": true }
      }
    ],
    "@typescript-eslint/prefer-ts-expect-error": 2,
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/switch-exhaustiveness-check": 2,
    "comma-dangle": "off",
    "function-paren-newline": "warn",
    "implicit-arrow-linebreak": "warn",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-unresolved": "error",
    "indent": "off",
    "linebreak-style": ["error", "unix"],
    "object-curly-newline": [
      "error",
      {
        "ExportDeclaration": { "multiline": true, "minProperties": 5 }
      }
    ],
    "operator-linebreak": "warn",
    "quotes": ["error", "double"],
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" }
    ],
    "react/hook-use-state": 2,
    "react/jsx-handler-names": 2,
    "react/require-default-props": [
      "error",
      {
        "functions": "defaultArguments"
      }
    ],
    "semi": ["error", "always"]
  },
  "overrides": [
    {
      "files": ["src/**/*.test.[tj]s?(x)"],
      "excludedFiles": ["src/**/*.e2e.test.[tj]s?(x)"],
      "extends": [
        "plugin:jest-dom/recommended",
        "plugin:testing-library/react",
        "plugin:@vitest/legacy-all"
      ],
      "rules": {
        "@vitest/valid-title": [
          "error",
          {
            "mustMatch": {
              "it": [
                "^should.*when.+$",
                "Test title must include 'should' and 'when'"
              ]
            }
          }
        ]
      }
    },
    {
      "files": ["tests/**/*.test.[tj]s?(x)"],
      "extends": ["plugin:playwright/playwright-test"]
    }
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  }
}
